body {
	height: 100vh;
	background-color: #d8ebf0;
}
ul {
	padding: 0;
}
.container {
	background: #e9b2b2;
	padding: 20px;
	border-radius: 10px;
}
.todo-item {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.todo-item button {
	cursor: pointer;
	background: #ff4d4d;
	border: none;
	color: white;
	padding: 6px 12px;
	border-radius: 4px;
}
